<center><h2>About</h2></center>
<div class="row">
	<div class="container">
		<p>This application was developed with CTA api, Google Maps Api, Sinatra, Bootstrap, React and the Flux pattern.</p>
		<p>The main part of the application is a single page application which allows users to look up bus routes and
		their destinations to find the positions of the bus on a map relative to themselves.  Originally this application
		was designed wtihout React/Flux and was dependent on a user flow that forced the user to go to /route when selecting routes and
		route/destination when selecting a route destination combination which would generate a map.  This UI was clunky and
		prevented the user from being able to select multiple end locations of buses which could be traveling the same direction.</p>
		<p>By using React/Flux the application was changed into single page application, which provided more flexibility, it also made the user interaction less clunky.</p>
  	<p>You may contact me at Robert.Dalin@gmail.com</p>
</div>
</div>
