<div class="row">
	<div class="container-fluid">
    <p>Something went wrong or that route doesn't exist at this time or there is only one bus on this route.  The error was: <%= @msg.backtrace.inspect %>  Nothing will display on the map due to the error<a href='/'>back?</a></p>
  </div>
</div>

