

<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <h2>Home: Start by Selecting a Bus Route</h2>
    </div>
  </div>
  <div id="app"></div>  
<!--
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgn7_L4t3Y809aHKvf3Kq6P7E07YQLq-M&callback=initMap">
</script>
  
  <script type="text/javascript" src="/map.js"></script> 
-->
</div>