<div class="container">
  <h2>You must login first</h2>
  <div class="btn" style="background-color:#3B5998">
    <a href="/auth/facebook" style="color:white;">
      <i class="fa fa-facebook"></i> |
      Sign in with Facebook
    </a>
  </div>
  
</div>